<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/style.css">
    <title>bikeRoutes</title>
</head>

<body>
    <section class="title-background">
        <div class="container-fluid">
            <!-- navbar -->
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="">
                    </a>

                    <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-start">
                            <a class="navbar-item" href="">
                               <p><span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
                            </a>
            </nav>
        </div>

        <!-- submit button -->
        <div class="field has-addons is-grouped is-grouped-centered ">
            <div class="control">
                <input class="input" type="text" id="searchInput" placeholder="Walnut Creek, CA">
            </div>
            <div class="field has-addons is-grouped is-grouped-centered">
                <div class="control">
                    <button class="button is-info" id="searchBtn">
                        Search
                    </button>
                </div>
            </div>
            <!-- 
            <div class="hidden " id="card">
                <div class="cardImage" id="cardImage">
                </div>
            </div> -->

        </div>

        <!-- Cards for trail display -->

    </section>

    <div class="show mt-5" id="card">
        <div class="cardImage" id="cardImage">


        </div>
        <!-- Footer! -->
    </div>
    <footer id="footer"><strong>bikeRoutes</strong> <a>Made by Team 7</a></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="server.js"></script>
    <script src="./js/search.js"></script>
    <script src="./js/title-text-effect.js"></script>
</body>

</html>