header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

html {
  background: url(https://images.pexels.com/photos/71104/utah-mountain-biking-bike-biking-71104.jpeg?cs=srgb&dl=pexels-pixabay-71104.jpg&fm=jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  background-color: whitesmoke;
  text-align: center;
}

.hidden {
  display: none;
}

.show {
  display: block;
  justify-content: center;
}

.cardImage {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  /*margin: 2rem; 
  padding: 1rem;*/
  border-radius: 1rem;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  /* text-align: center; */
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.navbar-item img {
  transform: scale(1.5);
}

* {
  box-sizing: unset;
}

.navbar-brand {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

img {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  margin-top: 1rem;
}

.logo {
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
  margin-left: 40px;
  font-size: 50px;
}

.control {
  justify-content: center;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.show {
  display: block;
}

.field.has-addons .control:first-child:not(:only-child) .button,
.field.has-addons .control:first-child:not(:only-child) .input,
.field.has-addons .control:first-child:not(:only-child) .select select {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-top: 10px;
}

.field.is-grouped.is-grouped-centered {
  justify-content: center;
  margin-top: 10px;
}

.card {
  display: flex;
  width: 70rem;
  grid-template-rows: max-content 300px 1fr;
}

.search-result-container {
  display: column;
}

.search-result-card {
  display: grid-template-rows;
  height: 20%;
  width: 80%;
  background-color: whitesmoke;
  grid-template-rows: max-content 300px 1fr;
}

/* added styling for title animation*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-item {
  height: 80px;
  font-size: 25px;
  margin-right: 45px;
  color: black;
  font-family: 'Work Sans', sans-serif;
}

.navbar-item p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.navbar-item p span.typed-text {
  font-weight: normal;
  color: #1033b1;
}

.navbar-item p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.navbar-item p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.-img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  height: 100px;
}

.img-thumbnail {
  width: 250px;
  height: 250px;
  padding-bottom: 15px;
  padding-left: 15px; 
}

.card-title {
  margin-top: 10px;
  margin-left: 10px;
}

.card {
  background-color: whitesmoke;
  padding-bottom: 20px;
}

.btn btn-primary {
  padding-left: 35px;
}

.card-title {
  font-size: 30px;
  margin-left: 20px;
  margin-top: 5px;
  padding-bottom: 10px;
}
